/* 임시 메인 썸네일용 CSS */

.main-thumbnail {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.best-attraction {
    padding-bottom: 10px;
}

@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24
}

/* header용 CSS */
.index-navi {
	display: block;
	color: #444;
	text-align: center;
	width: 110px;
}

#ddstudio-logo {
	color: #444;
}

#ddstudio-logo:hover {
	font-size: 60px;
    background: linear-gradient(to right top, #F49097, #CCC);
    color: transparent;
    -webkit-background-clip: text;
}

.nav-icon {
	font-size: 50px;
}

.nav-menu-name {
	font-size: 15px;
}

.header-login {
	position: absolute;
	top: -15%;
	right: 5%;
}

.header-login a {
	padding: 0 5px;
}