/********** Template CSS **********/
:root {
	--primary: #FB5B21;
	--secondary: #BDBDBF;
	--light: #F4F5F8;
	--dark: #222429;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
	font-size: inherit;
	margin-left: 0;
}

#main {
	
}

#content {
	margin: 0 200px;
	margin-top: -50px;
	min-width: 450px;
	box-sizing: border-box;
}

#content > #condition {
	box-shadow: 5px 10px 70px rgba(0, 0, 0, 0.4);
	text-align: center;
	background-color: cornflowerblue;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#content .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 70px;
	padding: 0 !important;
}

.item {
	width: 23%; /* 4개씩 배치하므로 각 아이템의 너비를 조정합니다. */
	aspect-ratio: 0.75;
	min-width: 200px;
	margin-bottom: 30px; /* 아이템 간의 간격을 조절합니다. */
	background-color: tomato;
	text-align: center;
	padding: 0;
	box-sizing: border-box;
	min-width: 200px; /* padding을 포함한 너비로 설정합니다. */
}

.item>div:nth-child(1) {
	height: 70%;
	background-color: blue;
	background-size: cover; /* 이미지를 커버하도록 설정 */
	background-position: center; /* 이미지를 가운데 정렬 */
	background-repeat: no-repeat; /* 이미지 반복 없음 */
}

.item>div:nth-child(2) {
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1, h2, .font-weight-bold {
	font-weight: 700 !important;
}

h3, h4, .font-weight-semi-bold {
	font-weight: 600 !important;
}

h5, h6, .font-weight-medium {
	font-weight: 500 !important;
}

.btn {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	transition: .5s;
}

.btn-primary {
	color: #FFFFFF;
}

.btn-square {
	width: 38px;
	height: 38px;
}

.btn-sm-square {
	width: 30px;
	height: 30px;
}

.btn-lg-square {
	width: 48px;
	height: 48px;
}

.btn-square, .btn-sm-square, .btn-lg-square {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.back-to-top {
	position: fixed;
	display: none;
	right: 30px;
	bottom: 0;
	border-radius: 0;
	z-index: 99;
}

.navbar-dark .navbar-nav .nav-link {
	font-family: 'Oswald', sans-serif;
	margin-right: 30px;
	padding: 40px 0;
	color: var(- -light);
	font-size: 17px;
	text-transform: uppercase;
	outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active
	{
	color: var(- -primary);
}

@media ( max-width : 991.98px) {
	.navbar-dark .navbar-nav .nav-link {
		margin-right: 0;
		padding: 10px 0;
	}
}

.carousel-caption {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(34, 36, 41, .8);
	z-index: 1;
}

@media ( max-width : 576px) {
	.carousel-caption h4 {
		font-size: 18px;
		font-weight: 500 !important;
	}
	.carousel-caption h1 {
		font-size: 30px;
		font-weight: 600 !important;
	}
}

.carousel-control-prev, .carousel-control-next {
	width: 10%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	width: 3rem;
	height: 3rem;
}

.bg-hero {
	background: linear-gradient(rgba(34, 36, 41, .8), rgba(34, 36, 41, .8)),
		url(../image/carousel-1.jpg) top center no-repeat;
	background-size: cover;
}

.programe::after {
	position: absolute;
	content: "";
	width: 100%;
	height: calc(100% - 45px);
	top: 135px;
	left: 0;
	background: var(- -dark);
	z-index: -1;
}

.team-item img {
	transition: .5s;
}

.team-item:hover img {
	transform: scale(1.2);
}

.team-item .team-overlay {
	position: absolute;
	top: 50%;
	right: 50%;
	bottom: 50%;
	left: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(34, 36, 41, .9);
	transition: .5s;
	opacity: 0;
}

.team-item:hover .team-overlay {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 1;
}

.testimonial-carousel .owl-nav {
	margin-top: 30px;
	display: flex;
	justify-content: start;
}

.testimonial-carousel .owl-nav .owl-prev, .testimonial-carousel .owl-nav .owl-next
	{
	position: relative;
	margin: 0 5px;
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	background: var(- -primary);
	font-size: 22px;
	border-radius: 45px;
	transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover, .testimonial-carousel .owl-nav .owl-next:hover
	{
	color: var(- -dark);
}

.testimonial-carousel .owl-item img {
	width: 90px;
	height: 90px;
}

.blog-item img {
	transition: .5s;
}

.blog-item:hover img {
	transform: scale(1.2);
}

@media ( min-width : 991.98px) {
	.credit {
		background: var(- -primary);
	}
}