/* @charset "UTF-8"; 

@import
	url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200)
	;

@font-face {
	font-family: GmarketSansMedium;
	src:
		url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff)
		format('woff');
	font-weight: 400;
	font-style: normal
}

:root { 
	--text-color: #555; 
	-sub-text-color: #777; 
	-back-color: #EFEFEF; 
	-header-color: #444; 
	-primary-color: #DEDEDE; 
	-secondary-color: #EFEFEF; 
	-default-width: 800px; 
	-narrow-width: 500px; 
	-wide-width: 1200px; 
	-text-font: 'GmarketSansMedium'; 
	-icon-font: 'Material Symbols Outlined'; 
	-border-color: #CCC
}

body, html {
	margin: 0;
	padding: 0
}

html {
	background-color: var(- -back-color);
	display: flex;
	justify-content: center;
	min-height: 100vh
}

body, body.default {
	width: var(- -default-width);
	background-color: #fff;
	padding-bottom: 120px
}

body.wide {
	width: var(- -wide-width)
}

body.narrow {
	width: var(- -narrow-width)
}

a, body, button, div, fieldset, input, label, legend, option, p, select,
	span, table, td, textarea, th {
	font-family: var(- -text-font);
	color: var(- -text-color)
}

h1, h2, h3 {
	font-family: var(- -text-font);
	color: var(- -header-color);
	padding: 0 1rem;
	padding-top: .5rem
}

div>h1, div>h2, div>h3 {
	padding: 0
}

body>div, body>main>div {
	padding: .3rem 1rem
}

h1 {
	font-size: 2rem;
	border-bottom: 1px solid var(- -border-color)
}

h1 small {
	font-size: 1.2rem;
	color: var(- -sub-text-color)
}

h2 {
	font-size: 1.5rem;
	border-bottom: 1px dashed var(- -border-color)
}

h2 small {
	font-size: 1.1rem;
	color: var(- -sub-text-color)
}

h3 {
	font-size: 1.2rem
}

h3 small {
	font-size: 1rem;
	color: var(- -sub-text-color)
}

h1.main::before {
	font-family: var(- -icon-font);
	content: '\e666';
	margin-right: 10px;
	float: left;
	font-size: 2.5rem
}

h1.sub::before {
	font-family: var(- -icon-font);
	content: '\ea19';
	margin-right: 10px;
	float: left;
	font-size: 2.5rem
}

h1.page::before {
	font-family: var(- -icon-font);
	content: '\e0e0';
	margin-right: 10px;
	float: left;
	font-size: 2.5rem
}

h1>span.material-symbols-outlined {
	font-size: 2.5rem;
	font-weight: 700;
	transform: translate(2px, 10px)
}

h2>span.material-symbols-outlined {
	font-size: 2rem;
	font-weight: 700;
	transform: translate(2px, 8px)
}

body>header {
	display: flex;
	justify-content: space-between;
	border-bottom: 5px solid var(- -border-color);
	min-height: 74px;
	background-color: #fff;
	position: relative;
	left: 0;
	top: 0
}

body>header.sticky {
	position: sticky;
	top: 0;
	z-index: 98
}

body>header>h1 {
	font-size: 1.2rem;
	border: 0
}

body>header.in>h1::before {
	font-family: var(- -icon-font);
	content: '\e332‥';
	margin-right: 3px;
	float: left;
	font-size: 2rem
}

body>header>ul {
	list-style-type: none;
	display: flex;
	align-items: flex-end;
	margin-right: 10px
}

body>header>ul>li {
	margin-right: 10px;
	cursor: pointer
}

body>header>ul>li>a {
	cursor: pointer
}

body>header>ul+ul {
	position: absolute;
	right: 0;
	bottom: -46px;
	padding: 0;
	background-color: #fff;
	font-size: 14px
}

body>header>ul>li.divider::before {
	content: 'ı';
	font-size: 1rem;
	color: var(- -border-color);
	margin: 0;
	padding: 0
}

form {
	display: block
}

form>div {
	padding: .3rem 1rem
}

div>form>div {
	padding: .3rem 0
}

button, input, select, textarea {
	border: 1px solid #bbb;
	border-radius: 3px;
	outline: 0;
	resize: none;
	padding: 7px;
	margin: 0
}

input[type=text]:read-only, textarea:read-only {
	cursor: not-allowed;
	background-color: #fff
}

input[type=text]:disabled, textarea:disabled {
	cursor: not-allowed;
	background-color: #eee
}

textarea {
	display: block;
	height: 100px
}

button.short, input.short, select.short, textarea.short {
	width: 100px
}

button.long, input.long, select.long, textarea.long {
	width: 350px
}

.narrow button.long, .narrow input.long, .narrow select.long, .narrow textarea.long
	{
	width: calc(100% - 20px)
}

button.full, input.full, select.full, textarea.full {
	width: calc(100% - 20px)
}

textarea.short {
	height: 50px
}

textarea.long {
	height: 100px
}

textarea.full {
	height: 200px
}

input, textarea {
	padding-top: 8px
}

button, input[type=button], input[type=submit] {
	padding: 5px 10px;
	background-color: var(- -secondary-color);
	cursor: pointer;
	min-height: 36px
}

button.primary, input[type=button].primary, input[type=submit].primary {
	background-color: var(- -primary-color)
}

button.primary:hover, input[type=button].primary:hover, input[type=submit].primary:hover
	{
	background-color: var(- -secondary-color)
}

button:hover, input[type=button]:hover, input[type=submit]:hover {
	background-color: var(- -primary-color)
}

button {
	position: relative;
	left: 0;
	top: 0;
	padding-left: 35px
}

button .material-symbols-outlined {
	position: absolute;
	left: 10px;
	top: 4px
}

button.add::before {
	font-family: var(- -icon-font);
	content: '\e746';
	position: absolute;
	left: 11px;
	top: 4px;
	font-size: 1.25rem
}

button.back::before {
	font-family: var(- -icon-font);
	content: '\e166';
	position: absolute;
	left: 11px;
	top: 4px;
	font-size: 1.25rem
}

button.list::before {
	font-family: var(- -icon-font);
	content: '\e0ee';
	position: absolute;
	left: 11px;
	top: 4px;
	font-size: 1.25rem
}

button.del::before {
	font-family: var(- -icon-font);
	content: '\e872';
	position: absolute;
	left: 11px;
	top: 4px;
	font-size: 1.25rem
}

button.edit::before {
	font-family: var(- -icon-font);
	content: '\e745';
	position: absolute;
	left: 11px;
	top: 4px;
	font-size: 1.25rem
}

button.login::before {
	font-family: var(- -icon-font);
	content: '\ea77';
	position: absolute;
	left: 11px;
	top: 4px;
	font-size: 1.25rem
}

button.logout::before {
	font-family: var(- -icon-font);
	content: '\e9ba';
	position: absolute;
	left: 11px;
	top: 4px;
	font-size: 1.25rem
}

button.in::before {
	font-family: var(- -icon-font);
	content: '\f71a';
	position: absolute;
	left: 11px;
	top: 4px;
	font-size: 1.25rem
}

button.out::before {
	font-family: var(- -icon-font);
	content: '\f70e';
	position: absolute;
	left: 11px;
	top: 4px;
	font-size: 1.25rem
}

button.reply::before {
	font-family: var(- -icon-font);
	content: '\e15e';
	position: absolute;
	left: 11px;
	top: 4px;
	font-size: 1.25rem
}

button.comment::before {
	font-family: var(- -icon-font);
	content: '\e0b9';
	position: absolute;
	left: 11px;
	top: 4px;
	font-size: 1.25rem
}

button.modal::before {
	font-family: var(- -icon-font);
	content: '\e89e';
	position: absolute;
	left: 11px;
	top: 4px;
	font-size: 1.25rem
}

button.ok::before {
	font-family: var(- -icon-font);
	content: '\e86c';
	position: absolute;
	left: 11px;
	top: 4px;
	font-size: 1.25rem
}

button.cancel::before {
	font-family: var(- -icon-font);
	content: '\e5c9';
	position: absolute;
	left: 11px;
	top: 4px;
	font-size: 1.25rem
}

button.sidebar::before {
	font-family: var(- -icon-font);
	content: '\f7e4';
	position: absolute;
	left: 11px;
	top: 4px;
	font-size: 1.25rem
}

button.sidebar-right::before {
	font-family: var(- -icon-font);
	content: '\f7e5';
	position: absolute;
	left: 11px;
	top: 4px;
	font-size: 1.25rem
}

button.setting::before {
	font-family: var(- -icon-font);
	content: '\e8b8';
	position: absolute;
	left: 11px;
	top: 4px;
	font-size: 1.25rem
}

button::before {
	font-family: var(- -icon-font);
	content: '\e323';
	position: absolute;
	left: 11px;
	top: 4px;
	font-size: 1.25rem
}

table {
	border-collapse: collapse;
	margin: 1rem;
	box-sizing: border-box;
	width: calc(100% - 32px)
}

table.content {
	width: auto
}

div>table {
	margin: 0
}

table td, table th {
	border: 1px solid var(- -border-color);
	padding: 7px;
	font-weight: 400
}

table th {
	background-color: var(- -back-color)
}

table.vertical th {
	width: 150px
}

table.vertical td {
	width: calc(100% - 182px);
	padding-left: 10px
}

table.content td, table.content th {
	width: auto
}

body.narrow table.vertical th {
	width: 100px
}

body.narrow table.vertical td {
	width: calc(100% - 182px)
}

table+table {
	margin-top: 30px
}

p {
	padding: 0 1rem
}

a {
	text-decoration: none
}

a:hover {
	color: rgba(255, 99, 71, .7)
}

hr {
	border: 0;
	border-top: 1px solid var(- -border-color);
	margin: 2rem 0
}

.message {
	border: 1px solid var(- -border-color);
	background-color: #efefef;
	margin: 1rem;
	width: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px
}

.message[title]::before {
	content: attr(title);
	display: block;
	border-bottom: 1px solid var(- -border-color);
	padding-bottom: 5px;
	margin-bottom: 10px;
	margin-top: 7px
}

.message.short {
	max-width: 250px
}

.message.long {
	max-width: 500px
}

.badge {
	float: right;
	font-size: .8rem;
	margin-top: 2px;
	margin-right: 2px;
	text-shadow: 0 0 7px gray
}

.badge.left {
	float: none;
	margin-left: 2px
}

.badge.right {
	float: right
}

.badge.red {
	border-radius: 50%;
	padding: 2px 5px;
	background-color: rgb(255, 99, 71, .3)
}

.badge.yellow {
	border-radius: 50%;
	padding: 2px 5px;
	background-color: rgb(255, 215, 0, .5)
}

.badge.blue {
	border-radius: 50%;
	padding: 2px 5px;
	background-color: rgb(100, 149, 237, .3)
}

label+label {
	margin-left: 7px
}

label input[type=checkbox], label input[type=radio] {
	transform: translate(0, 1px)
}

.group {
	display: flex
}

.modal-content .group {
	margin-bottom: .5rem
}

.group label {
	border: 1px solid #bbb;
	border-radius: 3px;
	outline: 0;
	resize: none;
	padding: 7px 14px;
	margin: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background-color: #efefef;
	white-space: nowrap;
	font-size: 14px
}

.group input[type=text] {
	margin-left: -1px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}

.group select {
	margin-left: -1px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}

.group input.full[type=text] {
	margin-left: -1px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	width: 100%
}

.group button:first-child, .group input[type=button]:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	margin-left: 0
}

.group button, .group input[type=button] {
	border-radius: 0;
	margin-left: -1px
}

.group button:last-child, .group input[type=button]:last-child {
	margin-left: -1px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px
}

.seperate {
	display: flex;
	justify-content: space-between
}

div.list {
	width: max-content;
	margin: 1rem;
	border: 1px solid #bbb;
	border-radius: 3px;
	padding: 0
}

div.list.full {
	width: auto;
	display: block;
	margin: 1rem;
	border: 1px solid #bbb;
	border-radius: 3px;
	padding: 0
}

div.list>div {
	padding: .5rem 1rem;
	margin: 0;
	border-bottom: 1px solid #bbb
}

div.list>div:last-child {
	border-bottom: 0
}

pre.code {
	font-family: consols;
	background-color: rgba(150, 150, 150, .1);
	border: 1px solid #bbb;
	border-radius: 3px;
	padding: .5rem 1rem;
	padding-bottom: .6rem;
	margin: 1rem
}

[data-modal-window] {
	position: fixed;
	background-color: rgba(0, 0, 0, .3);
	left: 0;
	top: 0;
	display: none;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	min-height: 100vh;
	z-index: 100;
	opacity: 0;
	transition: .5s all
}

[data-modal-window] .modal-container {
	border-radius: 5px;
	padding: 1rem;
	padding-bottom: .5rem;
	margin-top: -500px;
	opacity: 0;
	width: 500px;
	background-color: #fff;
	margin-right: 2rem;
	transition: .5s all
}

[data-modal-size=content] .modal-container {
	width: auto
}

[data-modal-size=narrow] .modal-container {
	width: 300px
}

[data-modal-size=wide] .modal-container {
	width: 760px
}

[data-modal-window] .modal-header {
	border-bottom: 1px solid var(- -border-color);
	padding: 2px 5px
}

[data-modal-window] .modal-content {
	padding: 1rem 5px
}

[data-modal-window] .modal-content div:last-child {
	margin-top: 1rem;
	text-align: right
}

[data-sidebar-window] {
	position: fixed;
	background-color: #fff;
	left: 0;
	top: 0;
	display: block;
	width: 300px;
	border-right: 1px solid var(- -border-color);
	box-sizing: border-box;
	box-shadow: 0 0 3px var(- -back-color);
	min-height: 100vh;
	z-index: 99;
	transform: translate(-300px, 0);
	transition-duration: .5s;
	transition-property: transform
}

[data-sidebar-direction=right] {
	left: auto;
	right: 0;
	transform: translate(300px, 0);
	border-left: 1px solid var(- -border-color)
}

[data-sidebar-size=wide] {
	width: 500px;
	transform: translate(-500px, 0)
}

[data-sidebar-window] .sidebar-title {
	border-bottom: 1px solid var(- -border-color);
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 5px;
	display: flex;
	justify-content: space-between
}

[data-sidebar-window] .sidebar-title span:last-child {
	cursor: pointer
} */